.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.input {
  min-width: 280px;
  min-height: 45px;
  padding: 10px;
  border-radius: 5px;
}
